[Unit]
Description=Systemd unit for Tcpdp for <%= @if %>
After=network.target remote-fs.target mysqld.service

[Service]
ExecStart=/usr/bin/tcpdp probe -c /etc/tcpdp/<%= @if %>.toml
Type=simple
PIDFile=/var/run/tcpdp-<%= @if %>.pid
WorkingDirectory=/
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
